@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
    margin: 0;
    padding: 0;
    border: 0;
}


#mainTitle{
    font-size: 300%;
    color:#F5F5F5;
    align-content: center;
    width: auto;
    height: auto;
}

#mainTitle2{
    font-size: 200%;
    color:#F5F5F5;
    align-content: center;
    width: auto;
    height: auto;
}

#myImage{
    object-fit: fill;
    height: auto;
}

#MainIMG{
    padding-bottom: 0.15%;
}


#AppIMGS{
    width: 2000px;
}


body{
    background: #F5F5F5;
    color: #67727A;
    font-family: 'Alegreya',sans-serif;
    margin: 0;
}
h2{
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    color: #F5F5F5;
}
h3{
    font-size: 175%;
    line-height: 155%;
    padding: 5% 0;
    font-weight: 400;
    color: #F5F5F5;
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    color: #F0F0F0;
    font-size: 120%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}
img{
    object-fit: fill;
    max-width: 100%;
    align-content: center;
    height: auto;
    width: auto;
    margin-bottom: -5px;
}
header{
    background-color: #6991AC;
    width: 100%;
    height: 86px;
}
#header-inner{
    max-width: 1200px;
    margin: 0 auto;
}
#logo{
    margin: 20px;
    float: left;
    width: 77px;
    height: 112px;
    background: url(img/phone.png) no-repeat center;
}

/*--- Start Navigation---*/
nav{
    float: right;
    padding: 25px 20px 0 0; /*top, right, bottom, left*/
}

#menu-icon{
    display: hidden;
    width: 40px;
    height 40px;
    background: url(img/nav.png) center;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
ul{
    list-style-type: none;
}
nav ul li{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 100%;
    display: inline-block;
    float:left;
    padding: 10px;
}
nav ul li a{
    color: #F5F5F5;
    text-decoration: none;
}
nav ul li a:hover{
    color:#C3D7DF;
}
.current{
    color:#C3D7DF;
}
/*---end of navigation style---*/
.banner{
    width: 100%;
    background-color: #6991AC;
}
.banner-inner{
    max-width: 1100px;
    margin: 0 auto;
}
.one-fourth{
    width: 25%;
    float: left;
    text-align: center;
}
#html{
    background-color: #F1AA90;
}
#css{
    background-color: #BEB9AD;
}
#seo{
    background-color: #AADCD2;
}
#social{
    background-color: #A2B2C1;
}
.one-fourth i{
    color: #F0F0F0;
    font-size: 450%;
    padding: 10px 0 0 0;
}
.inner-wrapper{
    float: left;
    width: 100%;
    background-color: #C3D7DF;
}
article{
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#tablet{
    background-color: #C3D7DF;
}
aside{
    float:right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}
#tablet2{
    background-color: #A2B1C1;
}
#mobile{
    background-color: #BEB9AD;
}
#desktop{
    background-color: #F1AA90;
}
#Desktop{
   
}
.inner-wrapper-2{
    float:left;
    width: 100%;
    background-color: #C3D7DF;
}
.inner-wrapper-3{
    float: left;
    width: 100%;
    background-color: #AADCD2;
}
.one-third{
    width: 33.3333333333%;
    float: left;
    text-align: center;
}
#google{
    background-color: #A2B1C1;
}
#marketing{
    background-color: #BEB9AD;
}
#customers{
    background-color: #AADCD2;
}
#smiley{
    background-color: #AADCD2;
    padding: 15px 0 1%;
    clear:both;
}
/*---Start Footer---*/
footer{
    background-color: #6991AC;
    width: 100%;
}
.social{
    list-style-type: none;
    text-align: center;
}
.social li{
    display: inline;
}
.social i{
    font-size: 300%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: #F5F5F5;
}
.social i:hover{
    color: #F5F5F5;
}
footer.second{
    border-top: 1px solid #AADCD2;
    background-color: #544B59;
    max-height: 55px;
    text-align:center;
    margin: 0;
}
footer.second p{
    padding: 5px 0 9px 0;
    text-align: center;
}
/*---------MEDIA!------------*/
@media screen and (max-width: 768px) {
    #mainTitle{
        font-size: 250%;
        padding: 0 0 0 30%;
    }
    
    #mainTitle2{
        font-size: 150%;
        padding: 0 0 0 30%;
    }
    
    h2{
        font-size: 150%;
    }
    h3{
        font-size: 125%;
    }
    p{
        font-size: 120%;
    }
    header{
        position:absolute;
    }
    #logo{
        margin: 15px 0 20 -25px;
        background: url(img/phone.png) no-repeat center;
    }
    #menu-icon{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        display:block;
    }
     nav ul,nav:active ul{
        display: none;
        z-index:1000;
        position: absolute;
        padding: 20px;
        background: #6991AC;
        right: 20px;
        top: 60px;
        border: 1px solid #FFF;
        border-radius: 2px 0 2px 2px;
        width: 50%;
    }
    nav:hover ul{
        display: block;
    }
    nav li{
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }
    .banner{
        padding-top: 86px;
    }
    .one-fourth{
        float: left;
        width: 100%;
    }
    .one-fourth i{
        font-size: 350%;
        padding: 4% 0 1% 0;
    }
    article{
        width:100%;
    }
    aside{
        width: 100%;
    }
    .hand-mobile{
        display: none;
    }
    .one-third{
        width: 100%;
    }
    .social i {
        font-size: 180%;
        color: #F5F5F5;
    }
}



















